.link-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
  background-color: #fdfdfd;
  color: #333;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.box-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .link-container-main {
    height: auto;
    padding: 20px;
    font-size: 1.5rem;
  }

  .box-cards-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .link-container-main {
    padding: 10px;
    font-size: 1.2rem;
  }
}
