.link-container-card {
  min-width: 300px;
  min-height: 200px;
  height: 70%;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.card-content {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease, background-color 0.3s ease;
}

.link-container-card:hover .card-content {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
}

.link-container-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}
