body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Consistent font throughout */
  color: #333;
  margin: 0;
  padding: 0;
}
.link-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50svh;
  background-color: #fdfdfd;
  margin-bottom: 5vh;
}

.link-container-title {
  margin-bottom: 10px;
  text-align: center;
}
.link-container-main p {
  text-align: center;
  font-size: 1.1rem;
  max-width: 100%;
  line-height: 1.5;
}
.thumbnail-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.link-container-card {
  min-width: 300px;
  min-height: 200px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.link-container-card:hover .card-content {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.link-container-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .link-container-main {
    height: 100svh;
    margin-bottom: 5vh;
  }

  .thumbnail-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .link-container-card {
    width: 250px;
    height: auto;
  }

  .card-content {
    padding: 15px;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .link-container-main {
    padding: 10px;
  }

  .link-container-title h2 {
    font-size: 1.5rem;
  }

  .link-container-main p {
    font-size: 1rem;
  }

  .link-container-card {
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
  }

  .card-content {
    font-size: 1rem;
    padding: 10px;
  }
}
