
/* Global styles (e.g., in index.css or App.css) */
:root {
  --background-color: #0b0b0d;
  --text-color: #ffffff;
  --accent-color: #9b5de5;
  --transition-duration: 0.3s;
  --transition-easing: ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}